<div class="tag-search">

    <h3 ng-if="tasks.length">{{search.join(', ')}}</h3>
    <h3 ng-if="!tasks || tasks.length == 0">Search by tags</i></h3>

    <a href history-back>
        <h5>
            <i class="fa fa-long-arrow-left"></i>
            Back
        </h5>
    </a>

    <div class="tags mg">
        <i class="fa fa-tags"></i>
        <a class="tag btn btn-xs "
           ng-repeat="tag in tags"
           ng-class="{'btn-info': isActiveTag(tag), 'btn-default': !isActiveTag(tag) }"
           ng-click="toggleTag(tag)"
                >{{tag}}</a>
    </div>

    <div task-metrics-widget tasks="tasks"></div>


    <div ng-if="tasks.length" task-views tasks="tasks" task-on-complete="init"></div>
    <div ng-if="!tags.length">No existing tags.</div>

    <div ng-if="tasks.length == 0">There are no tasks matched such request.</div>
</div>