<div class="tag-search">
    <h4 ng-if="tasks.length">Tasks found for: <i>'{{search.join(', ')}}'</i> tag<span ng-if="search.length > 1">s</span></h4>
    <h4 ng-if="!tasks || tasks.length == 0">Search by tags</i></h4>

    <div task-metrics-widget tasks="tasks"></div>

    <h5>
        <a href history-back><i class="fa fa-long-arrow-left"></i>
            Back</a>
    </h5>

    <div class="tags mg">
        <span>Tags: </span>
        <a class="tag btn btn-xs "
           ng-repeat="tag in tags"
           ng-class="{'btn-info': search.indexOf(tag) >= 0, 'btn-default': search.indexOf(tag) == -1 }"
           ng-click="toggleTag(tag)"
                >{{tag}}</a>
    </div>

    <div ng-if="tasks.length" task-views tasks="tasks" task-on-complete="init"></div>

    <div ng-if="tasks.length == 0">There are no tasks matched such request.</div>
</div>