<div class="panel panel-default"
     ng-class="{'panel-success': task.status == 'accepted', 'panel-warning': task.status == 'in progress'}">

    <div class="panel-heading overflow-hidden">
        <h4 class="panel-title"><a ui-sref="app.task({taskId: task._id})">{{task.title}}</a>
            <span ng-if="onEdit" class="fa fa-pencil-square-o vcenter pull-right pointer" ng-click="edit(task)"></span>
            <span class="label label-info vcenter pull-right" ng-if="!task.simple">complex</span>
        </h4>
    </div>

    <div class="panel-body">

        <div ng-click="edit(task)" class="fs-sm" task-metrics task="task" task-options="options"></div>


        <div ng-if="task.description">
            <hr/>
            <div text-extend="task.description"></div>
        </div>


    </div>

</div>
