<div class="panel panel-default"
     ng-class="{
     'panel-success': task.status == 'accepted',
     'panel-warning': task.status == 'in progress',
     'task-todo-low-time' : (task.timeToDo|round) < 0,
     'task-not-estimated' : !task.points
     }">

    <div class="panel-heading overflow-hidden">
        <h4 class="panel-title"><a ui-sref="app.task({taskId: task._id})">{{task.title}}</a>
            <span ng-if="onEdit" class="fa fa-pencil-square-o vcenter pull-right pointer" ng-click="edit(task)"></span>
            <span class="label label-info vcenter pull-right" ng-if="!task.simple">complex</span>
        </h4>
    </div>

    <div class="panel-body" ng-show="metricsDetails || task.description || task.tags.length">

        <div ng-if="metricsDetails" ng-click="edit(task)" class="fs-sm" task-metrics task="task" task-options="options" metrics-details="metricsDetails"></div>

        <div ng-if="task.description">
            <hr ng-if="metricsDetails"/>
            <div text-extend="task.description" style="overflow: hidden;"></div>
        </div>

        <hr ng-if="task.tags.length && (task.description || metricsDetails > 0)"/>

        <div task-tags task="task"></div>

    </div>

</div>
