<div ng-if="task">


    <h2 ng-hide="task._id == newTask._id" class="clearfix">
        {{task.title}}
        <div class="pull-right" ng-controller="gotoRootTaskCtrl" ng-if="parentTask">
            <a ng-if="root" class="btn btn-sm btn-default" ui-sref="app.task({taskId: root._id})"><i
                    class="fa fa-long-arrow-up"></i>&nbsp; Project: {{root.title | limitTo: 10}}
                <span ng-if="root.title.length > 10">...</span>
            </a>
        </div>
    </h2>

    <h5 ng-if="parentTask">
        <a ui-sref="app.task({taskId: parentTask._id})"><i class="fa fa-long-arrow-left"></i>
            {{parentTask.title}}</a>
    </h5>

    <div ng-hide="task._id == newTask._id" ng-click="edit(task)" task-metrics task="task"></div>

    <div ng-hide="task._id == newTask._id" ng-if="task.description" class="mg" text-extend="task.description"
         text-limit="170"></div>

    <div ng-hide="task._id == newTask._id" files-view ng-if="task.files.length" files="task.files"></div>

    <div ng-hide="task._id == newTask._id" ng-if="task.tags.length" class="tags tags-panel tags-task">
        <i class="fa fa-tags"></i>&nbsp;
        <a ui-sref="app.tags-find({taskId: task._id, tags: tag})" class="label"
           ng-repeat="tag in task.tags">{{tag}}</a>
    </div>
</div>

<div ng-if="!newTask._id" task-editor task="newTask" task-on-complete="init"
     class="edit-form"></div>

<div class="pull-right board-buttons" ng-if="taskId">
    <button class="btn btn-sm btn-default" ng-click="loadView(report)">Report</button>
</div>

<div task-views tasks="tasks" task-on-complete="init"></div>


