/.idea
/Vagrantfile
/.vagrant
/node_modules
/public/lib
/public/uploads
/public/dist/
/public/index.html
.nodemon*
*.log
/app/config/parameters.json
/chromedriver
/selenium-server-standalone-*
.DS_Store
/app/config/local.js
/app/config/local.json