
<div class="row board-view" ng-init="taskOptions = {hideStatus: true}">
    <div class="col-sm-4" ng-repeat="list in tasksList" ui-tree="treeOptions" id="tree-{{$index}}">
        <h3 class="list-name">{{list.name}}</h3>
        <div ui-tree-nodes ng-model="list.tasks" class="tasks-list">
            <div task-panel
                 task="task"
                 ng-repeat="task in list.tasks"
                 ui-tree-node
                 ng-model="list.tasks"
                 metrics-details="metricsDetails"
                 task-on-edit="edit"
                 task-options="taskOptions">
            </div>
        </div>
    </div>
</div>
