.mg {
    margin-bottom: 15px;
}

.detail-line {
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    padding-bottom: 12px;
}

.detail-line li {
    list-style: none;
    display: inline;
    padding-right: 10px;
}

.overflow-hidden {
    overflow: hidden;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.w-sm {
    width: 20%;
}

.fs-sm {
    font-size: 0.9em;
}

.task-tree {
    margin: 2em 0;
}

.task-tree task-tree {
    margin: 1em 0 0 3em;
    border-left: solid 1px #f4faf4;
    display: block;
}

.task-metrics {
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}