.mg {
    margin-bottom: 15px;
}
.detail-line {
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    padding-bottom: 12px;
}
.detail-line li {
    list-style: none;
    display: inline;
    padding-right: 10px;
}

.overflow-hidden {
    overflow: hidden;
}

.task-tree {
    margin: 2em 0;
}

.task-tree task-tree {
    margin: 1em 0 0 1em;
    display: block;
}