<form ng-submit="save()">

    <div class="form-group">
        <input ng-model="newTask.title" type="text" class="form-control" placeholder="Task.." id="title"/>
    </div>

    <div class="form-group clearfix" ng-show="newTask.title" ng-if="newTask.simple">
        <i class="fa fa-clock-o fa-2x vcenter pull-left" tooltip="Spent time"></i>

        <input ng-model="newTask.spenttime" type="text" class="form-control w-sm pull-left" id="spentTime"
               placeholder="Spent Time in hours"/>

    </div>

    <div class="form-group" ng-show="newTask.title"> <!-- Status-->
        <i class="fa fa-check-square-o fa-2x vcenter" tooltip="Status"></i>

        <div class="btn-group">
            <label ng-repeat="status in statuses" class="btn btn-default btn-sm" ng-model="newTask.status"
                   btn-radio="status">{{status}}</label>
        </div>
    </div>

    <div class="form-group" ng-show="newTask.title"> <!--Complexity-->
        <i class="fa fa-puzzle-piece fa-2x vcenter" tooltip="Complexity"></i>

        <div class="btn-group">
            <label ng-repeat="complexity in complexities" class="btn btn-default btn-sm" ng-model="newTask.complexity"
                   btn-radio="complexity.value">{{complexity.name}}</label>
        </div>
    </div>

    <div class="form-group" ng-show="newTask.title"> <!-- Priority-->
        <i class="fa fa-star-half-o fa-2x vcenter" tooltip="Priority"></i>

        <div class="btn-group">
            <label ng-repeat="priority in priorities" class="btn btn-default btn-sm" ng-model="newTask.priority"
                   btn-radio="priority">{{priority}}</label>
        </div>
    </div>

    <div class="form-group" ng-show="newTask.title">
        <button class="btn btn-success">Save</button>
        <a class="btn btn-default">Close</a>
        <a ng-if="newTask._id" class="btn btn-danger" ng-click="delete(newTask)">Delete</a>
    </div>
</form>
