<form ng-submit="save()">
    <div class="form-group">
        <input ng-model="newTask.title" type="text" class="form-control" placeholder="Task.." id="title"/>
    </div>

    <div class="form-group" ng-show="newTask.title">
        <p>Spent Time</p>
        <input ng-model="newTask.spenttime" ng-if="newTask.simple" type="text" class="form-control" id="spentTime"
               placeholder="Spent Time in hours"/>
    </div>

    <div class="form-group" ng-show="newTask.title"> <!-- Status-->
        <div class="btn-group">
            <p>Status</p>
            <label ng-repeat="status in statuses" class="btn btn-default btn-sm" ng-model="newTask.status"
                   btn-radio="status">{{status}}</label>
        </div>
    </div>

    <div class="form-group" ng-show="newTask.title"> <!-- Priority-->
        <div class="btn-group">
            <p>Priority</p>
            <label ng-repeat="priority in priorities" class="btn btn-default btn-sm" ng-model="newTask.priority"
                   btn-radio="priority">{{priority}}</label>
        </div>
    </div>

    <div class="form-group" ng-show="newTask.title"> <!--Complexity-->
        <div class="btn-group">
            <p>Complexity</p>
            <label ng-repeat="complexity in complexities" class="btn btn-default btn-sm" ng-model="newTask.complexity"
                   btn-radio="complexity.value">{{complexity.name}}</label>
        </div>
    </div>

    <div class="form-group" ng-show="newTask.title">
        <button type="submit" class="btn btn-default">Save</button>
    </div>
</form>
