<div class="row">

    <div class="col-md-12">

        <h3>Report task for today</h3>

        <div class="pull-right">
            <strong>Filters:&nbsp;</strong>
            <label>
                <input type="checkbox" ng-model="status">
                Status
            </label>
            &nbsp;
            <label>
                <input type="checkbox" ng-model="metrics">
                Metrics
            </label>
        </div>

        <h5>Today is: {{ date }}</h5>

        <ul>
            <li ng-repeat="task in tasks">
                {{task.title}}

                <span ng-show="status" class="label task-status-label">
                    {{task.status || 'new'}}
                </span>

                <div ng-show="metrics" task-metrics task="task"></div>
            </li>
        </ul>

    </div>

</div>