<div class="row">

    <div class="col-md-12">

        <h3>Report task for today</h3>

        <div class="pull-right">
            <strong>Filters:&nbsp;</strong>
            <label>
                <input type="checkbox" ng-model="status">
                Status
            </label>
            &nbsp;
            <label>
                <input type="checkbox" ng-model="metrics">
                Metrics
            </label>
        </div>

        <h5>
            Date:&nbsp;
            <span class="pointer" datepicker-popup max-date="'{{date | toDate:'YYYY-MM-DD'}}'" is-open="opened"
                  ng-model="date" show-button-bar="false" show-weeks="false" ng-click="openDatePicker($event)">
                {{ date | toDate }}
                <i class="glyphicon glyphicon-calendar"></i>
            </span>
        </h5>

        <report-tasks-updated date="date" status="status" metrics="metrics"></report-tasks-updated>

    </div>

</div>