<div ng-if="task">
    <h2>{{task.title}}</h2>
    <br/>
    Spent Time: {{task.spenttime}}<br/>
    Status: {{task.status}}<br/>
    Priority: {{task.priority}}<br/>
    Complexity: {{complexityHuman(task.complexity)}}<br/>
    Points: {{task.points}}<br/>
    Velocity: {{task.velocity}}<br/>
    Estimated Time: {{task.estimatedTime}}<br/>
    Time TODO: {{task.timeToDo}}<br/>
</div>

<form ng-submit="save()">
    <div class="form-group">
        <input ng-model="newTask.title" type="text" class="form-control" placeholder="Task.." id="title"/>
    </div>

    <div class="form-group" ng-show="newTask.title">
        <label for="spentTime" class="col-md-2 control-label">Spent Time</label>
        <input ng-model="newTask.spenttime" ng-if="newTask.simple" type="text" class="form-control" id="spentTime"
               placeholder="Spent Time in hours"/>
    </div>

    <div class="form-group" ng-show="newTask.title"> <!-- Status-->
        <div class="btn-group">
            <p>Status</p>
            <label ng-repeat="status in statuses" class="btn btn-default btn-sm" ng-model="newTask.status"
                   btn-radio="status">{{status}}</label>
        </div>
    </div>

    <div class="form-group" ng-show="newTask.title"> <!-- Priority-->
        <div class="btn-group">
            <p>Priority</p>
            <label ng-repeat="priority in priorities" class="btn btn-default btn-sm" ng-model="newTask.priority"
                   btn-radio="priority">{{priority}}</label>
        </div>
    </div>

    <div class="form-group" ng-show="newTask.title"> <!--Complexity-->
        <div class="btn-group">
            <p>Complexity</p>
            <label ng-repeat="complexity in complexities" class="btn btn-default btn-sm" ng-model="newTask.complexity"
                   btn-radio="complexity.value">{{complexity.name}}</label>
        </div>
    </div>

    <div class="form-group" ng-show="newTask.title">
        <button type="submit" class="btn btn-default">Save</button>
    </div>
</form>

<div class="panel panel-default" ng-repeat="task in tasks">
    <div class="panel-heading">
        <h3 class="panel-title">{{task.title}}</h3>
    </div>
    <div class="panel-body">
        <div><span>Velocity: {{task.velocity}}</span>
            <span>Points: {{task.points}}</span>
            <span>Spent Time: {{task.spenttime}}</span>
            <span>Status: {{task.status}}</span>
            <span>Estimated time: {{task.estimatedTime}}</span>
            <span>Time TODO: {{task.timeToDo}}</span>
        </div>
        <button class="btn btn-default" ng-click="delete(task)">Delete</button>
        <button class="btn btn-default" ng-click="edit(task)">Edit</button>
        <a class="btn btn-default" ui-sref="app.task({taskId: task._id})">Details</a>
    </div>
</div>
