<div ng-if="task">
    <h2>{{task.title}}</h2>
    <h4>
        <a ng-if="parentTask" ui-sref="app.task({taskId: parentTask._id})"> {{parentTask.title}}</a>
    </h4>

    <ul class="detail-line">
        <li>Status: {{task.status}}</li>
        <li>Priority: {{task.priority}}</li>
        <li>Spent Time: {{task.spenttime}}</li>
        <li>Estimated Time: {{task.estimatedTime| round}}</li>
        <li>Time TODO: {{task.timeToDo| round}}</li>
        <li>Complexity: {{task.complexity | humanComplexity}}</li>
        <li>Points: {{task.points}}</li>
        <li>Velocity: {{task.velocity| round}}</li>
    </ul>

</div>

<div ng-include="'templates/form.html'"></div>

<div class="btn-group mg" role="group">
    <button class="btn btn-default btn-sm"
            ng-click="loadView(aView)"
            ng-repeat="aView in views"
            ng-class="{'active': aView == view }">
        {{aView.title}}
    </button>
</div>

<div ng-include="'templates/task-view-'+view.name+'.html'"></div>