<div ng-if="task">
    {{ task.title }}<br/>
    Spent Time: {{task.spenttime}}<br/>
    Status: {{task.status}}<br/>
    Priority: {{task.priority}}<br/>
    Complexity: {{task.complexity}}<br/>
    Points: {{task.points}}<br/>
    Velocity: {{task.velocity}}<br/>

</div>

<form ng-submit="save()">
    <input type="text" placeholder="Task.." ng-model="newTask.title"/>
    <input type="text" ng-if="newTask.simple" placeholder="Spent Time in hours" ng-model="newTask.spenttime"/><br/>
    <select ng-options="status for status in statuses" ng-model="newTask.status"></select>
    <select ng-options="priority for priority in priorities" ng-model="newTask.priority"></select>
    <select ng-if="newTask.simple" ng-options="complexity for complexity in complexities" ng-model="newTask.complexity"></select>
    <button>save</button>
</form>

<ul>

    <li ng-repeat="task in tasks">
        <h3>{{task.title}}</h3>


        <button ng-click="delete(task)">Delete</button>
        <button ng-click="edit(task)">Edit</button>
        <a ui-sref="app.task({taskId: task._id})">tree</a>
    </li>

</ul>