<div class="panel panel-default"
     ng-class="{'panel-success': task.status == 'accepted', 'panel-warning': task.status == 'in progress'}"
     ng-repeat="task in tasks">

    <div class="panel-heading">
        <h3 class="panel-title"><a ui-sref="app.task({taskId: task._id})">{{task.title}}</a></h3>
    </div>

    <div class="panel-body">
        <div>
            <span>Status: {{task.status}}</span>
            <span>Priority: {{task.priority}}</span>
            <span>Spent Time: {{task.spenttime}}</span>
            <span>Estimated time: {{task.estimatedTime| round}}</span>
            <span>Time TODO: {{task.timeToDo| round}}</span>
            <span>Complexity: {{task.complexity | humanComplexity}}</span>
            <span>Points: {{task.points}}</span>
            <span>Velocity: {{task.velocity| round}}</span>
        </div>
        <button class="btn btn-default" ng-click="delete(task)">Delete</button>
        <button class="btn btn-default" ng-click="edit(task)">Edit</button>
        <a class="btn btn-default" ui-sref="app.task({taskId: task._id})">Details</a>
    </div>

</div>
