
<ul class="detail-line task-metrics">

    <li ng-if="task.status" tooltip="Status">
            <span class="label"ng-class="{'label-success' : task.status == 'accepted', 'label-warning' : task.status == 'in progress'}">
            {{task.status}}
            </span>
    </li>

    <li ng-if="task.priority" tooltip="Priority"><i class="fa fa-star-half-o"></i> {{task.priority}}</li>

    <li>
        <i class="fa fa-clock-o" tooltip="Time"></i>
        <span tooltip="Spent">{{task.spenttime| round}}</span>
        / <span tooltip="Estimated">{{task.estimatedTime| round}}</span>
        / <span tooltip="TODO">{{task.timeToDo| round}}</span>
    </li>

    <li tooltip="Complexity / Points">
        <i class="fa fa-puzzle-piece"></i>
        <span ng-if="task.simple">{{task.complexity | humanComplexity}} / </span><span>{{task.points}}p</span>
    </li>
    <li tooltip="Velocity"><i class="fa fa-line-chart"></i> {{task.velocity| round}}</li>
    <li ng-if="task.updatedAt" tooltip="Updated {{task.updatedAt | date : 'yyyy/MM/dd HH:mm:ss'}}"><i class="fa fa-refresh"></i> {{task.updatedAt | fromNow}}</li>
</ul>
