<ul class="detail-line task-metrics">

    <li tooltip="Status" ng-hide="options.hideStatus">
        <span class="label" task-status="task.status">
            {{task.status || 'new'}}
        </span>
    </li>

    <li ng-if="task.archived">
        <span class="label label-default">
            Archived
        </span>
    </li>

    <li ng-if="task.priority" tooltip="Priority"><i class="fa fa-bolt"></i>&nbsp;{{task.priority}}</li>

    <li>
        <i class="fa fa-clock-o" tooltip="Time"></i>&nbsp;<span tooltip="Estimated">{{task.estimatedTime| round}}</span>
        / <span tooltip="Spent">{{task.spenttime| round}}</span>
        / <span tooltip="TODO" ng-class="{'warning-text' : (task.timeToDo|round) < 0}">{{task.timeToDo| round}}</span>
    </li>

    <li tooltip="Complexity / Points">
        <i class="fa fa-puzzle-piece"></i>&nbsp;<span ng-if="task.simple">{{task.complexity | humanComplexity}} / </span><span>{{task.points}}p</span>
    </li>
    <li ng-if="task.velocity" tooltip="Velocity"><i class="fa fa-line-chart"></i>&nbsp;{{task.velocity| round}}</li>
    <li ng-if="task.updatedAt" tooltip="Updated {{task.updatedAt | date : 'yyyy/MM/dd HH:mm:ss'}}"><i class="fa fa-refresh"></i>&nbsp;{{task.updatedAt | fromNow}}</li>
    <li ng-if="task.owner" tooltip="Owner">&nbsp;{{task.owner.local.username}}</li>
    <li ng-if="task.developer" tooltip="Developer">&nbsp;{{task.developer.local.username}}</li>

    <li ng-if="task.files.length > 0" tooltip="Attachments"><i class="fa fa-paperclip"></i>&nbsp;{{task.files.length}}</li>
</ul>

