<ul class="detail-line task-metrics">

    <li uib-tooltip="Status" ng-hide="options.hideStatus" class="nobg">
        <span class="label" task-status="task.status">
            {{task.status || 'new'}}
        </span>
    </li>

    <li ng-if="task.archived" class="nobg">
        <span class="label label-default">
            Archived
        </span>
    </li>

    <li ng-if="metricsDetails == 2 && task.priority" uib-tooltip="Priority"><i class="fa fa-bolt"></i>&nbsp;{{task.priority}}</li>

    <li>
        <i class="fa fa-clock-o" uib-tooltip="Time"></i>&nbsp;<span uib-tooltip="Estimated {{task.estimatedTime|humanizeTime}}">{{task.estimatedTime| round}}</span>
        / <span uib-tooltip="Spent {{task.spenttime | humanizeTime}}">{{task.spenttime| round}}</span>
        / <span uib-tooltip="TODO {{task.timeToDo | humanizeTime}}" ng-class="{'warning-text' : (task.timeToDo|round) < 0}">{{task.timeToDo| round}}</span>
    </li>

    <li uib-tooltip="Complexity / Points">
        <i class="fa fa-puzzle-piece"></i>&nbsp;<span ng-if="task.simple">{{(task.complexity | humanComplexity) || 0}} / </span><span>{{task.points}}p</span>
    </li>
    <li ng-if="metricsDetails == 2 && task.velocity" uib-tooltip="Velocity"><i class="fa fa-line-chart"></i>&nbsp;{{task.velocity| round}}</li>

    <li ng-if="metricsDetails == 2 && task.owner" uib-tooltip="Owner"><i class="fa fa-user-secret"></i>&nbsp;{{task.owner.local.username}}</li>
    <li ng-if="task.developer" uib-tooltip="Developer"><i class="fa fa-user"></i>&nbsp;{{task.developer.local.username}}</li>

    <li ng-if="task.updatedAt" uib-tooltip="Updated {{task.updatedAt | date : 'yyyy/MM/dd HH:mm:ss'}}"><i class="fa fa-refresh"></i>&nbsp;{{task.updatedAt | fromNow}}</li>

    <li ng-if="metricsDetails == 2 && task.files.length > 0" uib-tooltip="Attachments"><i class="fa fa-paperclip"></i>&nbsp;{{task.files.length}}</li>
    <li ng-if=" task.commentsCounter"><i class="fa fa-comment"></i><span uib-tooltip="Comments">{{task.commentsCounter ||0}}</span></li>
</ul>

