<div class="row">
    <div class="col-md-4 col-md-offset-4">

        <form ng-submit="resetAccept()" class="clearfix">
            <h1>Change Password</h1>

            <div class="form-group form-group-sm">
                <label for="newPassword" class="col-sm-3 control-label">New&nbsp;Password</label>
                <div class="col-sm-7">
                    <input id="newPassword"
                           class="form-control input-sm"
                           ng-model="newPassword"
                           type="text"
                           placeholder="New Password"/>
                </div>
            </div>
            <div class="form-group form-group-sm mg">
                <label for="newPasswordConfirm" class="col-sm-3 control-label">Confirm&nbsp;Password</label>
                <div class="col-sm-7">
                    <input id="newPasswordConfirm"
                           class="form-control input-sm"
                           ng-model="newPasswordConfirm"
                           type="text"
                           placeholder="Confirm Password"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-7 col-sm-offset-3">
                    <button class="btn btn-primary btn-sm">Change</button>
                </div>
            </div>

        </form>

    </div>
</div>
