<div class="row">
    <div class="col-md-4 col-md-offset-4">

        <form ng-submit="login()">
            <div class="clearfix">
                <h1 class="pull-left">Login</h1>

                <div class="pull-right login-social-link">
                    <a href="/auth/twitter"><i class="fa fa-twitter"></i></a>
                    <a href="/auth/facebook"><i class="fa fa-facebook-square"></i></a>
                    <a href="/auth/google"><i class="fa fa-google"></i></a>
                </div>
            </div>

            <div class="form-group">
                <input ng-model="loginName" type="text" class="form-control" placeholder="Login / Email" required>
            </div>
            <div class="form-group">
                <input ng-model="userPassword" type="password" class="form-control" placeholder="Password" required>
            </div>
            <button type="submit" class="btn btn-primary pull-left btn-sm">Login</button>
            <a ui-sref="app.reset-password" class="btn btn-link btn-sm pull-right">Forgot password</a>
        </form>

    </div>
</div>
