.mg {
    margin-bottom: 15px;
}

.detail-line {
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    padding-bottom: 12px;
}

.detail-line li {
    list-style: none;
    display: inline;
    padding-right: 10px;
}

hr {
    margin: 10px 0;
}

.overflow-hidden {
    overflow: hidden;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.fa.vcenter {
    color: #999;
    width: 32px;
    margin-right: 5px;
    text-align: center;
}

.panel-title .fa.vcenter {
    width: auto;
    margin-right: 0;
}

.tech-info .btn-group {
    margin-left: -4px;
}

.tech-info .btn-group.complexity label {
    text-align: center;
    min-width: 28px;
    padding: 5px 5px
}
.tech-info .btn-group.priority label {
    text-align: center;
    min-width: 30px;
    padding: 5px 10px
}


.tech-info .btn-group.complexity label:nth-child(-n+4) {
    border-bottom: 2px solid green;
}

.tech-info .btn-group.complexity label:nth-child(n+5):nth-child(-n+8) {
    border-bottom: 2px solid orange;
}

.tech-info .btn-group.complexity label:nth-child(n+9):nth-child(-n+12) {
    border-bottom: 2px solid red;
}

.tech-info .m-l-sm {
    margin-left: 10px;
}

.total-progress {
    padding-top: 7px;
}

.w-sm {
    width: 25%;
}

.w-xs {
    width: 15%;
}

.fs-sm {
    font-size: 0.9em;
}

.task-tree {
    margin: 2em 0;
}

.task-tree task-tree {
    margin: 1em 0 0 3em;
    border-left: solid 1px #f4faf4;
    display: block;
}

.task-metrics {
    cursor: pointer;
}
.task-metrics-widget {
    margin: 0 0 10px 10px;
}

.pointer {
    cursor: pointer;
}

.m-l-sm {
    margin-left: 10px;
}

.panel.panel-default .detail-line {
    padding-bottom: 0;
}

.images-list {
    margin-bottom: 20px;
}

.images-list ul {
    padding: 0;
    margin: 0;
}

.images-list li {
    list-style-type: none;
    padding: 0;
    margin: 0 10px 10px 0;
    font-size: 0;
    display: inline-block;
}

.images-list li a {
    font-size: 14px;
    display: block;
    clear: both;
}

.images-list li a i.fa {
    padding-right: 5px;
}

.images-list li a.img {
    display: inline-block;
    width: 75px;
    height: 75px;
    word-spacing: 0;
    border: 4px solid #fff;
    box-shadow: 0 0 1px #333;
}

.images-list li a.img:hover {
    border-color: #5bc0de;
}

.task-edit-menu {
    position: fixed;
    background: #fff;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    box-shadow: 0 1px 1px #ccc;
}

.task-edit-menu .wrapper {
    padding: 7px 0;
}

.move-view ul {
    margin-bottom: 0;
}

.board-buttons {
    margin-top: 0;
    position: relative;
    top: -25px;
    z-index: 1;
}

.edit-form {
    margin-bottom: 30px;
}

.board-view h3 {
    margin-top: 0;
}

.fa-md {
    font-size: 1.6em;
    line-height: 1.2em;
}
.modal-box {
    padding: 30px 30px 15px;
}

.navbar {
    border-radius: 0;
    border: none;
    background: #5BC0DE;
}
.navbar-default .navbar-nav>li>span {
    position: relative;
    display: none;
    padding: 10px 15px;
    line-height: 20px;
}
.navbar-default .navbar-nav>li>span,
.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a {
    color: #fff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav>li>a:hover {
    color: #effbff;
    background: #4BADCA;
}
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-nav>li>a:active {
    color: #effbff;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #3DA1BE;
}

.panel {
    margin-bottom: 15px;
    box-shadow: 0 1px 0 0 transparent;
    -webkit-transition: all 100ms ease;
    -moz-transition:    all 100ms ease;
    -o-transition:      all 100ms ease;
    transition:         all 100ms ease;
}
.panel:hover {
    box-shadow: 0 1px 5px -2px #666;
}
.panel-body,
.panel-heading {
    padding: 8px 10px;
}
.panel-body hr {
    margin: 5px 0;
}
.tags.tags-task .label,
.tags.tags-panel .label {
    margin-right: 5px;
    background: #e3e3e3;
    color: #111;
    padding: .2em .8em .3em;
    border-radius: 10px;
    font-weight: normal;
    display: inline-block;
}
.tags.tags-task {
    margin: 0 0 20px;
}
.icon-fix {
    position: relative;
}
.icon-fix .field-fix {
    margin-left: 37px;
}
.icon-fix .fa {
    position: absolute;
    top: 0;
    left: 0;
}
.icon-fix .field-fix .field-full {
    width: 100%;
    max-width: 326px;
    min-height: 30px;
}

/*bootstrap fixes*/
.ui-select-multiple.ui-select-bootstrap {
    padding: 3px 10px 0;
}
.ui-select-bootstrap .ui-select-choices-row > a {
    padding: 3px 20px;
}
.dropdown-menu {
    font-size: 12px;
}
.modal-open .modal {
    -webkit-transition: all 200ms ease 200ms;
    -moz-transition: all 200ms ease 200ms;
    -o-transition: all 200ms ease 200ms;
    transition: all 200ms ease 200ms;
}
.btn-group-sm>.btn,
.btn-sm {
    padding: 5px 9px;
}
.ui-select-multiple.ui-select-bootstrap input.ui-select-search {
    margin-top: 1px;
}
.ui-select-multiple.ui-select-bootstrap .ui-select-match .close {
    line-height: .95;
}


/*responsive*/
@media (min-width: 992px) {
    .modal-lg {
        width: 920px;
    }
}

@media (min-width: 768px) {
    .navbar {
        border-radius: 0;
        border: none;
        background: #5BC0DE;
    }
    .navbar-default .navbar-brand,
    .navbar-default .navbar-nav>li>a {
        padding-bottom: 12px;
        position: relative;
        color: #fff;
        border-top: 0px solid transparent;
        -webkit-transition: all 200ms ease 200ms;
        -moz-transition: all 200ms ease 200ms;
        -o-transition: all 200ms ease 200ms;
        transition: all 200ms ease 200ms;
    }
    .navbar-default .navbar-brand:focus,
    .navbar-default .navbar-nav>li>a:focus,
    .navbar-default .navbar-brand:active,
    .navbar-default .navbar-nav>li>a:active {
        color: #effbff;
    }
    .navbar-default .navbar-brand {
        padding-bottom: 15px;
    }
    .navbar-default .navbar-brand:hover,
    .navbar-default .navbar-nav>li>a:hover {
        color: #effbff;
        border-top: 3px solid #effbff;
        background: #4BADCA;
    }
    .navbar-default .navbar-nav>li>span {
        display: block;
        padding-top: 15px;
        padding-bottom: 12px;
    }
}