<div class="task-views-block">
    <div class="clearfix">
        <div class="btn-group board-buttons" role="group">
            <button class="btn btn-default btn-sm"
                    ng-click="loadView(aView)"
                    ng-repeat="aView in views"
                    ng-class="{'active': aView == view }">
                {{aView.title}}
            </button>
        </div>

        <button class="btn btn-default btn-sm btn-metrics" 
                tooltip="{{tooltip}}"
                ng-click="toggleMetrics()"
                ng-class="{'btn-warning' : metricsDetails == 1,'btn-info' : metricsDetails == 2}">
            <i class="fa"
               ng-class="{'fa-circle-o' : metricsDetails == 0, 'fa-dot-circle-o' : metricsDetails == 1,'fa-circle' : metricsDetails == 2}">
            </i>
        </button>

        <button class="btn btn-default btn-sm btn-metrics"
                tooltip="Sort By Priority"
                ng-click="sortByPriority()"
                ng-class="{'active': active == true }">
            <i class="fa fa-bolt"></i>
        </button>
    </div>

    <div class="clearfix"
         ng-include="'tracker/modules/task/directives/taskViews/views/view-'+view.name+'.html'">
    </div>
</div>

