.mg {
    margin-bottom: 15px;
}

.detail-line {
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    padding-bottom: 12px;
}

.detail-line li {
    list-style: none;
    display: inline;
    padding-right: 10px;
}

hr {
    margin: 10px 0;
}

.overflow-hidden {
    overflow: hidden;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.w-sm {
    width: 20%;
}

.fs-sm {
    font-size: 0.9em;
}

.task-tree {
    margin: 2em 0;
}

.task-tree task-tree {
    margin: 1em 0 0 3em;
    border-left: solid 1px #f4faf4;
    display: block;
}

.task-metrics {
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.m-l-sm {
    margin-left: 10px;
}

.panel.panel-default .detail-line {
    padding-bottom: 0;
}
.images-list {
    padding: 0;
    margin: 20px 0;
}
.images-list li {
    list-style-type: none;
    padding: 0;
    margin: 0 10px 10px 0;
    font-size: 0;
    display: inline-block;
}
.images-list li a {
    font-size: 14px;
    display: block;
    clear: both;
}
.images-list li a i.fa {
    padding-right:5px;
}
.images-list li a.img {
    display: inline-block;
    width: 75px;
    height: 75px;
    word-spacing: 0;
    border: 4px solid #fff;
    box-shadow: 0 0 1px #333;
}
.images-list li a.img:hover {
    border-color: #5bc0de;
}
.upload-form .images-list {
    margin-bottom: 0;
}
.task-edit-menu {
    position: fixed;
    background: #fff;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    box-shadow: 0 1px 1px #ccc;
}
.task-edit-menu .wrapper {
    padding: 7px 0;
}
.move-view ul {
    margin-bottom: 0;
}